header
  .container.header
    | Logo
    .header__profile
      img.header__profile-icon(width="24", height="24", src="/img/icons/user.svg", alt="")
      = reducedName
      img.header__profile-menu(width="12", height="12", src="/img/icons/triangle.svg", alt="")
      .header__menu
        a.header__menu-link(href="/requests") Мои заявки
        a.header__menu-link(href="/profile") Мои данные
        //- a.header__menu-link(href="/addresses") Мои адреса
        a.header__menu-link(href="/logout") Выйти
