extends layout

block content
  .login
    .login__box
      .login__image
      .login__form
        h1.center Вход
        .input-section#msg-error
          if error
            p.msg-error__text= error
          if message
            p.msg-warning__text= message
        form#login-form(method="POST", action="/login")
          .input-section
            label(for="tel") Номер телефона:
            input.input.input-text(type="tel", name="phoneNumber", id="tel", placeholder="+7 (___) ___-__-__", value=phoneNumber, data-validate-field="tel", required)
          .input-section
            label(for="password") Пароль:
            input.input.input-text(type="password", name="password", id="password", placeholder="Пароль", data-validate-field="password", required)
          .input-section.center
            input(type="checkbox", value="remember", id="remember")
            label(for="remember") Запомнить на 30 дней
            button.btn.btn_fill(type="submit") Войти
        .input-section.login__links
          .center
            a.link(href="/restore") Забыли пароль?
          .center
            a.link(href="/register") Регистрация
