extends layout

block content
  .login
    .container.login__cont
      .login__cont-l
        //- img.login__img(src="/img/login-form.jpg", alt="")
      .login__cont-r
        h1.login__center Вход
        .msg-error
          if error
            p.msg-error__text Неверный номер телефона или пароль!
        form.login__form(id="login__form", method="GET", action="/login")
          .form__row
            label(for="tel") Номер телефона:
            input.input.input-text(type="tel", name="phoneNumber", id="tel", placeholder="+7 (___) ___-__-__", data-validate-field="tel", required, autofocus)
          .form__row
            label(for="password") Пароль:
            input.input.input-text(type="password", name="password", id="password", placeholder="Пароль", data-validate-field="password", required)
          .form__row
            input.checkbox(type="checkbox", value="remember", id="remember")
            label(for="remember") Запомнить
          .form__row
            button.btn.login__btn(type="submit") Войти
          .form__row.login__center
            a.login__link(href="/restore") Забыли пароль?
          .form__row.login__center
            a.login__link(href="/register") Регистрация
