nav.nav
  ul.nav__list
    li.nav__item
      a.nav__link(href="/news")
        img.nav__icon(width="24", height="24", src="/img/icons/news.svg", alt="")
        | Новости
    li.nav__item
      a.nav__link(href="/notifications")
        img.nav__icon(width="24", height="24", src="/img/icons/notifications.svg", alt="")
        | Уведомления
    li.nav__item
      a.nav__link(href="/requests")
        img.nav__icon(width="24", height="24", src="/img/icons/requests.svg", alt="")
        | Заявки
