.nav__logo
  a(href="/") Logo
a.nav__menu-item-profile(href="/profile")
    svg.nav__icon.nav__icon_small(width='36px' height='36px' viewBox='0 0 36 36' version='1.1' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
      path.clr-i-solid.clr-i-solid-path-1(d='M30.61,24.52a17.16,17.16,0,0,0-25.22,0,1.51,1.51,0,0,0-.39,1v6A1.5,1.5,0,0,0,6.5,33h23A1.5,1.5,0,0,0,31,31.5v-6A1.51,1.51,0,0,0,30.61,24.52Z')
      circle.clr-i-solid.clr-i-solid-path-2(cx='18' cy='10' r='7')
      rect(x='0' y='0' width='36' height='36' fill-opacity='0')
    | Профиль
nav.nav__menu
  a.nav__menu-item(href="/requests")
    svg.nav__icon.nav__icon_big(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 55.999 55.999' style='enable-background:new 0 0 55.999 55.999;' xml:space='preserve')
      g
        path(d='M55.125,32.588l-2.85-2.85c-1.128-1.127-3.092-1.127-4.221,0L32.664,45.129l-2.121,7.779l-0.519,0.519\
        c-0.388,0.388-0.389,1.014-0.006,1.405l-0.005,0.02l0.019-0.005c0.194,0.19,0.446,0.288,0.699,0.288\
        c0.256,0,0.512-0.098,0.707-0.293l0.52-0.52l7.778-2.121l15.39-15.391C56.29,35.646,56.29,33.752,55.125,32.588z M34.973,45.649\
        l10.243-10.242l4.243,4.242L39.216,49.892L34.973,45.649z M34.07,47.574l3.22,3.22l-4.428,1.208L34.07,47.574z M53.711,35.396\
        l-2.839,2.839l-4.243-4.242l2.839-2.839c0.373-0.373,1.022-0.372,1.394-0.001l2.85,2.85C54.096,34.386,54.096,35.012,53.711,35.396\
        z')
        path(d='M27,43.865c-0.552,0-1-0.447-1-1s0.448-1,1-1h4.686l13-13H27c-0.552,0-1-0.447-1-1s0.448-1,1-1h18\
        c0.46,0,0.831,0.317,0.948,0.74c1.13-1.123,2.627-1.74,4.218-1.74c1.418,0,2.76,0.492,3.834,1.393V13.04\
        c0-6.714-5.462-12.176-12.176-12.176H12.176C5.462,0.865,0,6.326,0,13.04v29.648c0,6.714,5.462,12.176,12.176,12.176h14.724l3-11\
        H27z M27,12.865h18c0.552,0,1,0.447,1,1s-0.448,1-1,1H27c-0.552,0-1-0.447-1-1S26.448,12.865,27,12.865z M20.688,38.515\
        l-6.857,7.999c-0.197,0.23-0.477,0.35-0.76,0.35c-0.209,0-0.42-0.065-0.6-0.2L7.9,43.235c-0.442-0.331-0.531-0.958-0.2-1.399\
        c0.332-0.442,0.958-0.53,1.4-0.2l3.822,2.866l6.248-7.287c0.359-0.42,0.992-0.468,1.41-0.108\
        C20.999,37.465,21.047,38.096,20.688,38.515z M20.688,23.515l-6.857,8c-0.197,0.23-0.477,0.35-0.76,0.35\
        c-0.209,0-0.42-0.065-0.6-0.2L7.9,28.236c-0.442-0.331-0.531-0.958-0.2-1.399c0.332-0.442,0.958-0.531,1.4-0.2l3.822,2.866\
        l6.248-7.288c0.359-0.42,0.992-0.468,1.41-0.108C20.999,22.465,21.047,23.096,20.688,23.515z M20.688,9.515l-6.857,8\
        c-0.197,0.23-0.477,0.35-0.76,0.35c-0.209,0-0.42-0.065-0.6-0.2L7.9,14.236c-0.442-0.331-0.531-0.958-0.2-1.399\
        c0.332-0.442,0.958-0.531,1.4-0.2l3.822,2.866l6.248-7.288c0.359-0.42,0.992-0.468,1.41-0.108\
        C20.999,8.465,21.047,9.096,20.688,9.515z')
    | Заявки
  case user.role.id
    when 1
      a.nav__menu-item(href="/users")
        svg.nav__icon.nav__icon_big(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='549.907px' height='549.908px' viewBox='0 0 549.907 549.908' style='enable-background:new 0 0 549.907 549.908;' xml:space='preserve')
          g
            path(d='M110.534,220.962c0-49.027,39.741-88.768,88.768-88.768s88.768,39.741,88.768,88.768c0,49.026-39.741,88.768-88.768,88.768\
            S110.534,269.989,110.534,220.962z M236.968,315.783h-75.327c-62.668,0-113.655,50.986-113.655,113.646v92.143l0.236,1.437\
            l6.36,1.985c59.796,18.679,111.764,24.914,154.531,24.914c83.531,0,131.94-23.82,134.938-25.333l5.94-3.015l0.626,0.006v-92.137\
            C350.617,366.769,299.631,315.783,236.968,315.783z M350.617,177.533c49.024,0,88.768-39.741,88.768-88.768\
            C439.385,39.741,399.642,0,350.617,0c-49.023,0-88.768,39.741-88.768,88.765C261.85,137.792,301.594,177.533,350.617,177.533z\
            M388.28,183.585h-75.326c-1.797,0-3.547,0.189-5.32,0.275c6.81,14.295,10.74,30.225,10.74,47.094\
            c0,31.129-13.057,59.205-33.922,79.23c48.823,14.523,86.144,55.986,94.638,107.08c71.999-3.145,113.504-23.49,116.265-24.885\
            l5.94-3.015l0.626,0.012v-92.137C501.933,234.575,450.946,183.585,388.28,183.585z')
        | Пользователи
      a.nav__menu-item(href="/services")
        svg.nav__icon.nav__icon_big(width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
          path(fill='none' stroke='#000' stroke-width='2' d='M6,9 C7.65685425,9 9,7.65685425 9,6 C9,4.34314575 7.65685425,3 6,3 C4.34314575,3 3,4.34314575 3,6 C3,7.65685425 4.34314575,9 6,9 Z M6,3 L6,0 M6,12 L6,9 M0,6 L3,6 M9,6 L12,6 M2,2 L4,4 M8,8 L10,10 M10,2 L8,4 M4,8 L2,10 M18,12 C19.6568542,12 21,10.6568542 21,9 C21,7.34314575 19.6568542,6 18,6 C16.3431458,6 15,7.34314575 15,9 C15,10.6568542 16.3431458,12 18,12 Z M18,6 L18,3 M18,15 L18,12 M12,9 L15,9 M21,9 L24,9 M14,5 L16,7 M20,11 L22,13 M22,5 L20,7 M16,11 L14,13 M9,21 C10.6568542,21 12,19.6568542 12,18 C12,16.3431458 10.6568542,15 9,15 C7.34314575,15 6,16.3431458 6,18 C6,19.6568542 7.34314575,21 9,21 Z M9,15 L9,12 M9,24 L9,21 M3,18 L6,18 M12,18 L15,18 M5,14 L7,16 M11,20 L13,22 M13,14 L11,16 M7,20 L5,22')
        | Услуги
    default
      a.nav__menu-item(href="/new-request")
        svg.nav__icon.nav__icon_big(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='45.402px' height='45.402px' viewBox='0 0 45.402 45.402' style='enable-background:new 0 0 45.402 45.402;' xml:space='preserve')
          g
            path(d='M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141\
            c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27\
            c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435\
            c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z')
        | Новая заявка
a(href="/logout")
  svg.nav__icon.nav__icon_small(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='96.943px' height='96.943px' viewBox='0 0 96.943 96.943' style='enable-background:new 0 0 96.943 96.943;' xml:space='preserve')
    g
      path(d='M61.168,83.92H11.364V13.025H61.17c1.104,0,2-0.896,2-2V3.66c0-1.104-0.896-2-2-2H2c-1.104,0-2,0.896-2,2v89.623\
      c0,1.104,0.896,2,2,2h59.168c1.105,0,2-0.896,2-2V85.92C63.168,84.814,62.274,83.92,61.168,83.92z')
      path(d='M96.355,47.058l-26.922-26.92c-0.75-0.751-2.078-0.75-2.828,0l-6.387,6.388c-0.781,0.781-0.781,2.047,0,2.828\
      l12.16,12.162H19.737c-1.104,0-2,0.896-2,2v9.912c0,1.104,0.896,2,2,2h52.644L60.221,67.59c-0.781,0.781-0.781,2.047,0,2.828\
      l6.387,6.389c0.375,0.375,0.885,0.586,1.414,0.586c0.531,0,1.039-0.211,1.414-0.586l26.922-26.92\
      c0.375-0.375,0.586-0.885,0.586-1.414C96.943,47.941,96.73,47.433,96.355,47.058z')
  | Выйти
