extends layout

block content
  .wrapper
    div.nav
      include nav
    main.main
      section
        h2 Мой профиль
        .block
          form.my__form#my__form(method="POST", action="/users/" + user.id)
            .input-section
              h3 Личные данные
              label(for="firstName") Имя:
              input.input.input-text(type="text", name="firstName", id="firstName", data-validate-field="firstName", placeholder="Имя", value=user.firstName)
            .input-section
              h3 Контакты для связи
              label(for="phoneNumber") Телефон:
              input.input.input-text(type="tel", name="phoneNumber", id="tel", data-validate-field="tel", placeholder="+7 (___) ___-__-__", value=user.phoneNumber, disabled)
            .input-section
              h3 Смена пароля
              label(for="password") Новый пароль:
              input.input.input-text(type="password", name="password", id="password", data-validate-field="password", placeholder="Пароль")
              label(for="repeat-password") Новый пароль повторно:
              input.input.input-text#repeat-password(type="password", name="repeat-password", data-validate-field="repeat-password", placeholder="Пароль")
            .input-section.center
              button.btn.btn_fill(type="submit") Сохранить
      section
        if user.id !== 1
          .center
            button.msg-error__text#profile-delete Удалить мой профиль
            .profile__delete Все данные будут удалены окончательно, продолжить?
              div
                input(type="hidden", value=user.id)
                button#profile-delete-btn.btn.btn_fill.btn_red Удалить
    aside.info
      include sidebar
