$rubik-font-path: '../fonts/';

$breakpoints: (
  'sm':  ( min-width:  576px ),
  'md':  ( min-width:  768px ),
  'lg':  ( min-width:  992px ),
  'xl':  ( min-width: 1200px ),
  'xxl': ( min-width: 1400px )
) !default;


$color-back-1: #f6fafd;
$color-blue: #0044ea;
$color-blue-light: #0d53fd;
$color-grey: #9fabc0;
$color-orange: #ffb638;
$color-red: #ec1818;
$color-white: #fff;
