@import '_normalize';
@import '_vars';
@import '_grid';

// Fonts
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url($rubik-font-path + 'rubik-regular.eot');
  src: local(''),
       url($rubik-font-path + 'rubik-regular.eot?#iefix') format('embedded-opentype'),
       url($rubik-font-path + 'rubik-regular.woff2') format('woff2'),
       url($rubik-font-path + 'rubik-regular.woff') format('woff'),
       url($rubik-font-path + 'rubik-regular.ttf') format('truetype'),
       url($rubik-font-path + 'rubik-regular.svg#Rubik') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: url($rubik-font-path + 'rubik-semibold.eot');
  src: local(''),
       url($rubik-font-path + 'rubik-semibold.eot?#iefix') format('embedded-opentype'),
       url($rubik-font-path + 'rubik-semibold.woff2') format('woff2'),
       url($rubik-font-path + 'rubik-semibold.woff') format('woff'),
       url($rubik-font-path + 'rubik-semibold.ttf') format('truetype'),
       url($rubik-font-path + 'rubik-semibold.svg#Rubik') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url($rubik-font-path + 'rubik-bold.eot');
  src: local(''),
  url($rubik-font-path + 'rubik-bold.eot?#iefix') format('embedded-opentype')
  url($rubik-font-path + 'rubik-bold.woff2') format('woff2'),
  url($rubik-font-path + 'rubik-bold.woff') format('woff'),
  url($rubik-font-path + 'rubik-bold.ttf') format('truetype'),
  url($rubik-font-path + 'rubik-bold.svg#Rubik') format('svg');
  font-display: swap;
}

// General Elements
* {
  box-sizing: border-box
}

body {
  font-size: 16px;
  font-family: Rubik, sans-serif;
  background-color: #f6fafd;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 24px;
}

h2 {
  font-weight: 600;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
}

a {
  color: #000;
}

.link {
  color: $color-blue;
  border-bottom: 1px solid transparent;
}

.link:hover {
  border-color: $color-blue;
}

section:not(:last-child) {
  margin-bottom: 48px;
}

.input-section:not(:last-child) {
  margin-bottom: 30px;
}

label {
  margin-bottom: 12px;
  display: block;
}

.input {
  padding: 15px;
  border: 1px solid $color-grey;
  background: transparent;
}

.input-text {
  width: 100%;
  padding: 15px 25px;
  border-radius: 100px;
}

.input-text:not(:last-child) {
  margin-bottom: 12px;
}

.input-textfield {
  width: 100%;
  resize: none;
}

.btn {
  padding: 15px 25px;
  display: inline-block;
  border-radius: 12px;
  cursor: pointer;
}

.btn_fill {
  background-color: $color-blue;
  color: #fff;
  border: none;
}

.btn_red {
  background-color: $color-red;
}

.btn-back {
  padding-left: 45px;
  background-image: url('/img/icons/btn-control-arrow.svg');
  background-repeat: no-repeat;
  background-position: 25px center;
}

.btn-save {
  padding-left: 51px;
  background-image: url('/img/icons/save.svg');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 25px center;
}

.full-width {
  width: 100%;
}

.center {
  text-align: center;
}

.msg-error__text {
  color: $color-red;
}

.msg-warning__text {
  color: $color-orange;
}

// Login & Register pages
.login {
  width: 100%;
  height: 100vh;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include respond-to('md') {
    padding: 30px;
  }
  @include respond-to('xl') {
    padding: 50px;
  }

  &__box {
    max-width: 932px;
    display: flex;
    flex: 1 1 50%;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  &__image {
    width: 40%;
    display: none;
    background-image: url('../img/login-form.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;

    @include respond-to('sm') {
      display: block;
    }
    @include respond-to('md') {
      width: 50%;
    }
  }
  &__form {
    width: 100%;
    padding: 24px;
    background-color: $color-white;

    @include respond-to('sm') {
      width: 60%;
    }
    @include respond-to('md') {
      width: 50%;
    }
  }
  &__btn {
    width: 100%;
  }
  &__links {
    margin-top: 30px;
  }
}

.register {
  &__code-submit {
    display: none;
  }
}

// Main Layout
.wrapper {
  height: 100vh;
  display: block;
  gap: 30px;

  @include respond-to('md') {
    display: grid;
    grid-template-columns: min-content auto;
  }
  @include respond-to('lg') {
    display: grid;
    grid-template-columns: min-content auto 300px;
  }
  @include respond-to('xxl') {
    grid-template-columns: min-content auto 400px;
  }
}

.nav {
  width: 100%;
  padding: 15px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  font-size: 14px;

  @include respond-to('md') {
    position: static;
    padding: 30px;
    flex-direction: column;
  }

  &__logo {
    display: none;

    @include respond-to('md') {
      display: block;
    }
  }

  &__menu {
    text-align: center;
  }
  &__menu-item {
    display: inline-block;
  }
  &__menu-item:not(:last-child) {
    margin-right: 12px;

    @include respond-to('md') {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
  &__menu-item:hover {
    color: $color-blue;
  }
  &__menu-item:hover svg {
    fill: $color-blue;
  }
  &__menu-item-profile {
    display: inline-block;

    @include respond-to('md') {
      display: none;
    }
  }
  &__icon {
    margin: 0 auto 4px;
    display: block;
  }
  &__icon_small {
    width: 20px;
    height: 20px;
  }
  &__icon_big {
    width: 30px;
    height: 30px;
  }
}

.main {
  padding: 15px;
  justify-self: center;

  @include respond-to('md') {
    overflow-y: auto;
  }
  @include respond-to('lg') {
    padding: 30px;
  }
}

.info {
  padding: 30px;
  display: none;
  background-color: #fafcfe;

  @include respond-to('lg') {
    display: block;
  }
}

.block {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(128, 128, 128, .25);
}

.requests {
  display: flex;

  &__link {
    display: block;
    margin-bottom: 12px;
  }
}

.requests__info {
  flex: 1 1 70%;
}

.requests__info-date {
  margin-bottom: 12px;
  padding-left: 20px;
  color: grey;
  background-image: url('../img/icons/calendar.svg');
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.requests__info-schedu {
  margin-bottom: 12px;
  padding-left: 25px;
  color: grey;
  font-size: 20px;
  background-image: url('../img/icons/clock.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.requests__status {
  flex: 1 1 30%;
  text-align: center;
}

.requests__status-name {
  margin-bottom: 12px;
}

.discount {
  margin-bottom: 30px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(128, 128, 128, .25);
}

.discount__lvl {
  padding-left: 25px;
  font-size: 18px;
  font-weight: 600;
  background-image: url('../img/icons/discount.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.discount__how {
  color: grey;
  font-size: 14px;
}

.discount__percent {
  color: $color-blue;
  font-size: 24px;
}

.info__data {
  text-align: center;
}

.info__menu {
  width: 100%;
  margin-bottom: 12px;
  text-align: right;
}

a.info__menu-settings {
  padding-left: 24px;
  color: $color-grey;
  background-image: url('../img/icons/settings.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.info__name {
  font-size: 24px;
  font-weight: 600;
}

.info__role {
  margin-bottom: 30px;
  color: grey;
  font-size: 14px;
}

.info__phone {
  padding: 15px 25px 15px 50px;
  display: inline-block;
  background-image: url('../img/icons/phone.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 25px center;
  border: 1px solid grey;
  border-radius: 100px;
}

.request__status {
  padding: 15px 30px;
  text-align: center;
  font-weight: 600;
}

.status__waiting {
  background-color: #ffface;
}

.status__active {
  background-color: #d3ffce;
}

.status__closed {
  background-color: #ced3ff;
}

.status__cancelled {
  background-color: #ffced3;
}

.request__data {
  display: flex;
  justify-content: space-between;
}

.request__data-col {
  flex: 1 1 300px;
}

.request__data-col:nth-child(odd) {
  margin-right: 30px;
}

.request__data-row:not(:last-child) {
  margin-bottom: 12px;
}

.request__data-name {
  font-weight: 600;
}

// Profile page
.profile {
  &__delete {
    display: none;
  }
}

// Admin page
.info {
  &__stats {
    margin-bottom: 30px;
  }
  &__stats-count {
    color: $color-grey;
  }
}

.admin {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, minmax(200px, auto));

  &__item {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item-icon {
    margin-bottom: 12px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__requests-icon {
    background-image: url('../img/admin/requests.svg');
  }
  &__users-icon {
    background-image: url('../img/admin/users.svg');
  }
  &__services-icon {
    background-image: url('../img/admin/services.svg');
  }
}

// Admin requests page
.admin-requests {
  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:  0;
  }
}

.table {
  &__id {
    width: 5%;
  }
  &__user {
    width: 15%;
  }
  &__service {
    width: 25%;
    text-align: left !important;
  }
  &__total {
    width: 10%;
  }
  &__status {
    width: 15%;
  }
  &__created {
    width: 15%;
  }
  &__scheduled {
    width: 15%;
  }
  &__name {
    width: 30%;
  }
  &__role {
    width: 20%;
  }
}

.table {
  display: block;
  margin-top: 30px;
}

.flex-table {
  display: flex;
  flex-flow: row wrap;
  transition: .5s;
  &:first-of-type .flex-row {
    background: $color-blue;
    color: $color-white;
  }
  &.row {
    position: relative;
  }
  &.row:nth-child(odd) .flex-row {
    background: #fafcfe;
  }
  &:hover {
    background: #fafcfe;
    transition: 500ms;
  }
}

.flex-row {
  width: 100%;
  text-align: center;
  padding: 0.5em 0.5em;
  border: 1px solid $color-grey;

  &.table {
    &__registered {
      display: none;
    }
  }

  @include respond-to('sm') {
    width: calc(100% / 2);
  }
  @include respond-to('xl') {
    width: calc(100% / 3);
  }
  @include respond-to('xxl') {
    width: auto;

    &.table {
      &__id {
        width: 5%;
      }
      &__user {
        width: 15%;
      }
      &__service {
        width: 25%;
        text-align: left !important;
      }
      &__total {
        width: 10%;
      }
      &__status {
        width: 15%;
      }
      &__created {
        width: 15%;
      }
      &__scheduled {
        width: 15%;
      }
      &__name {
        width: 30%;
      }
      &__role {
        width: 20%;
      }
      &__registered {
        width: 15%;
        display: block;
      }
    }
  }
}

.first {
  width: 100%;
  order: -1;

  @include respond-to('xxl') {
    width: auto;
    order: 0;
  }
}
